.playing {
  position: relative;
  margin: auto;
  font-family: 'Press Start 2P';
  text-align: center;
}

.circle {
  position: absolute;
  height: 7em;
  width: 7em;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  color: grey;
  font-size: 1.2rem;
  border: 7px solid black;
}

.playing-center {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}

.playing-bg {
  background-image: url(../assets/bull.png);
  background-size: cover;
  min-height: 100vh;
  border: 5px solid #000000;
  width: 50%;
}

.playing-bg-2 {
  background-image: url(../assets/bear.png);
  background-size: cover;
  min-height: 100vh;
  border: 5px solid #000000;
  width: 50%;
}

.stonk {
  font-size: 2rem;
  color: black;
}

.p-btns {
  position: absolute;
  margin-top: 21em;
}

.p-btn {
  color: white;
  width: 12em;
  height: 3.5em;
}

.p-btn:hover {
  opacity: 0.5;
}

.play-highscore {
  position: absolute;
  bottom: 0;
  margin: auto;
  padding: 0.4em 0.6em;
  background: black;
  color: grey;
  font-size: 1.6rem;
  border-radius: 5px;
}

.play-score {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.4em 0.6em;
  margin: auto;
  background: black;
  color: grey;
  font-size: 1.6rem;
  border-radius: 5px;
}