@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .bg-img {
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
} */

.main-content {
  background-image: url(./assets/stonk.jpg);
  
  background-size: cover;
  min-height: 100vh;
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.main-title {
  display: inline-block;
}

.title {
  display: inline-block;
  font-size: 96px;
  line-height: 96px;
  text-align: center;

  color: #05FF00;
  border: 3px solid #ffffff;
}

.main-question {
  width: 992px;
  height: 32px;
  left: 224px;
  top: 505px;

  font-size: 32px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.main-play-button {
  width: 338px;
  height: 61.67px;
}

.bob {
  text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
  margin-left: 13px;
  margin-right: 13px;
}
